@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;

    box-sizing:border-box;
}

.container{
    max-width: 1170px;
    
    margin: 0 auto;
    
    padding: 0 15px;
}

.wrapper__header {
    background-color:#5bbc2e; 

    padding: 12px 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo__header {
    margin-right: 78px;
}

.link__naviagtion {
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 600;

    text-decoration: none;

    color:white;

    margin-right: 44px;
}

/* banner */

.wrapper__banner {
    width: 100%;
    min-height: 512px;

    background-color:#edecf2;

    position: relative;
}

.text__banner {
    position: absolute;

    bottom:120px;
    
    width: 100%;

    z-index: 1;
}

.text__banner h1 {
    text-align: center;

    font-size: 48px;

    font-weight: 800;

    text-transform: uppercase;

    line-height: 60px;

    color:#000;
}

.green__text{
    color:#5bbc2e;
}

.next__line {
    display: block;
}

.position__img{
    position: absolute;

    max-width: 550px;
}

.position__img img {
    width: 100%;
}

.note__img {
    bottom: 0;
    left: -10px;
}

.glasses__img {
    bottom: 98px;
    left: 20px;

    animation: whirl__img 3s alternate infinite;

    z-index: 1;
}

.pan__img {
    bottom: 132px;
    left: 0px;
}

.rubber__img {
    left: 60px;
    top: 20px;

    z-index: 1;

    animation: whirl__img 8s alternate infinite;

}

.usb__img {
    top: 60px;
    left: 130px;

    z-index: 1;
}

.key__img {
    left: calc(42% - 80px);
}

.cup__img {
    right: 52px;
    bottom: 25px;

    animation: whirl__img 6s alternate infinite;

}

.pin__img {
    right: 185px;
    top: 155px;

    animation: whirl__img 5s alternate infinite;
}

.pin__more__img {
    right: 40px;
    top: 45px;
}

/* cards */

.wrapper__out{
    width: 100%;

    background-color:#f9f9f9;
}

.wrapper__services{
    padding: 82px 0 110px 0;
}

.wrapper__services h2 {
    font-size: 48px;

    text-align: center;

    color:black;

    font-weight: 800;

    text-transform: uppercase;
}

.wrapper__services > p {
    text-align: center;

    font-size: 12px;

    margin: 18px 205px 0;

    line-height: 24px;
}

.wrapper__icons__cards {
    display: flex;
    flex-wrap: wrap;

    padding: 63px 10px 0;
}

.card__item {
    width: 25%;
    
    box-sizing: border-box;

    padding: 0 20px;
}

.wrapp__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas{
    font-size: 45px;

    color:#5bbc2e;
}

.card__item:hover .fas {
    color:blue;
}

.card__item h3 {
    font-size: 14px;

    text-transform: uppercase;

    font-weight: 900;

    color:#5bbc2e;

    text-align: center;

    margin-top: 32px;

    letter-spacing: 2px;
}

.card__item p {
    font-size: 12px;

    font-family: Arial, Helvetica, sans-serif;

    line-height: 25px;

    text-align: center;

    margin: 25px 15px 0;
}

/* about us */

.wrapper__first__block {
    display: flex;
    flex-wrap: wrap;

    padding: 60px;

    padding-bottom: 50px;
}

.img__block__about {
    width: 50%;
}

.text__block__about {
    width: 50%;
    
    padding: 42px 10px 0 10px;

    box-sizing:border-box;
}

.text__block__about h2 {
    font-size: 30px;

    font-weight: bold;

    text-transform: uppercase;

    padding-right: 50px;
}

.text__block__about p {
    font-size: 14px;

    margin-top: 30px;

    line-height: 24px;
}

/* second */

.wrapper__all__block{
    background-color:#f5f5f5;
}

.wrapper__second__block {
    padding: 50px 0 77px 0;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

    font-weight: bolder;

}

.text__block__about__second {
    width: 50%;

    padding: 50px 10px 0 0px;

    box-sizing:border-box;
}

.text__block__about__second h2 {
    font-size: 30px;

    font-weight: bold;

    text-transform: uppercase;

    padding-right: 50px;
    padding-bottom: 30px;
}

.text__block__about__second li {
    display: flex;
    align-items: center;

    font-weight: normal;

    margin-bottom: 4px;

    font-size: 14px;

    font-weight: 500;
}

li::before{
    content:'';

    display: inline-block;
    
    width: 20px;
    height: 20px;

    background: url(../photo/icon/arrow.png) center no-repeat;
    
    font-size: 20px;

    margin-right: 10px;
}

.img__block__about__second{
    padding: 30px 0 0 127px;
}

.img__block__about__second img{
    width: 100%;
}

.wrapper__footer{
    background:#000;

    padding: 32px 0 30px 0;
}

.footer__text{
    color:#e0e0e0;

    font-size: 13px;
}

@media screen and (max-width: 880px) {
    .wrapper__services>p {
        margin: 0 20px;
    }

    .card__item{
        width: 50%;
        margin-bottom:30px;
    }

    .wrapper__first__block{
        width: 100%;

        padding: 0px;

        padding-bottom: 50px;
    }

    .img__block__about {
        width: 100%;

        display: flex;

        justify-content: center;
    }

    .img__block__about img{
        max-width: 400px;
    }

    .img__block__about__second {
        width: 100%;

        padding: 30px 0 0 50px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img__block__about__second {
        max-width: 400px;
    }

    .text__block__about{
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .text__block__about__second{
        width: 100%;

        display: block;
        
        text-align: center;

        padding-right: 0;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    ul li {
        width: 55%;
    }

    .text__block__about__second h2 {
        padding-right: 0;    
    }

    .img__block__about img {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .header {
        justify-content: space-between;
    }

    nav{
        display: none;
    }

    .burger__navigation{
        width: 60px;

        height: 60px;
        
        background-color:red;

        border-radius:30px;

        cursor: pointer;
    }

    .img__block__about__second {
        padding: 20px 0;
    }

    .note__img{
        width: 30vw;
    }

    .glasses__img {
        width: 20vw;

        bottom:20px;

        left: 5px;
    }

    .pan__img{
        width: 15vw;

        bottom:100px;

        left: 5px;
    }

    .cup__img{
        width: 30vw;

        right: 5px;
    }
}

@media screen and (max-width: 880px) {
    .card__item p {
        margin: 25px 0;
    }

    .card__item {
        width: 100%;
    }

.text__block__about__second li {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* animation */

@keyframes whirl__img {
    0%{
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}